/* global.css */

body {
    --bg: white;
    --textNormal: #222;
    --textTitle: #222;
    --textLink: blue;
    --hr: hsla(0, 0%, 0%, 0.2);

    background-color: var(--bg);
}

body.dark {
    -webkit-font-smoothing: antialiased;

    --bg: #121212;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: #BB86FC;
    --hr: hsla(0, 0%, 100%, 0.2);
}

blockquote {
    border-left: 0.32813rem solid var(--hr)
}